---
import { getI18N } from "@/i18n";

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
---

<section
  class="flex gap-x-10 justify-center items-center md:flex-row flex-col-reverse"
>
  <div
    class="[&>p]:mb-4 max-w-[800px] [&>p>strong]:text-cyan-400 [&>p>strong]:font-semibold [&>p]:text-pretty px-12"
  >
    <p set:html={i18n.ABOUT_P_1} />
    <p set:html={i18n.ABOUT_P_2} />
    <p set:html={i18n.ABOUT_P_3} />
  </div>
  <img
    src="/me.webp"
    alt={i18n.ALT_IMG_AM}
    class="rounded-full size-64 md:my-0 my-10"
  />
</section>
