---
import SectionContainer from "@/components/common/SectionContainer.astro";
import Layout from "@/layouts/Layout.astro";
import Hero from "@/components/pageContent/Hero.astro";
import Code from "@/assets/Icons/Code.astro";
import Projects from "@/components/pageContent/Projects.astro";
import AboutMe from "@/components/pageContent/AboutMe.astro";
import About from "@/assets/Icons/About.astro";
import Contact from "@/components/pageContent/Contact.astro";
import ContactIcon from "@/assets/Icons/Contact.astro";
---

<Layout
  title="Portfolio de Monti Juan - Desarrollador y Programador Web"
  description="Apasionado del desarrollo y la atención al detalle, siempre en busca de un desarrollo limpio, moderno y accesible"
>
  <main class="mx-auto md:text-left text-center">
    <SectionContainer
      id="top"
      className=" md:pt-44 pt-20 pb-24 px-4 gap-y-6 md:flex-row-reverse  "
    >
      <Hero />
    </SectionContainer>
    <!-- 
    test visual
    <SectionContainer id="experience">
      <h2 class="text-xl font-semibold mb-6 flex gap-x-3">
        <BriefCase class="size-6" />
        Experiencia Laboral
      </h2>
      <Experience />
    </SectionContainer> -->
    <SectionContainer id="projects">
      <div
        class="flex gap-x-2 items-center md:justify-normal justify-center font-bold text-3xl"
      >
        <Code class="size-10" />
        <h2>Proyectos</h2>
      </div>
      <Projects />
    </SectionContainer>
    <SectionContainer id="about" className="mt-5">
      <div
        class="flex gap-x-2 items-center md:justify-normal justify-center font-bold text-3xl"
      >
        <About class="size-10" />
        <h2 class="my-8">Sobre mi</h2>
      </div>
      <AboutMe />
    </SectionContainer>
    <SectionContainer id="contact" className="mt-12">
      <div
        class="flex gap-x-2 items-center md:justify-normal justify-center font-bold text-2xl"
      >
        <ContactIcon class="size-10" />
        <h2 class="my-8">Comunícate conmigo</h2>
      </div>
      <Contact />
    </SectionContainer>
  </main>
</Layout>
