---
import SocialProp from "@/assets/SocialProp.astro";
import { PersonalSocialLinks, type SocialInfo } from "@/lib/data";
import Contact from "./Contact.astro";
---

<footer
  class="w-full bg-gradient-to-b from-black/30 to-transparent pt-10 my-20"
>
  <div
    class="max-w-[800px] md:grid md:grid-cols-3 flex flex-col-reverse gap-3 md:mx-auto mx-10"
  >
    <nav aria-label="secondary-nav" class="px-8 py-4 rounded-2xl">
      <h3 class="font-bold text-xl text-cyan-400/90">Redes Sociales</h3>
      <ul aria-label="social-links" class="mt-2 grid gap-y-4">
        {
          PersonalSocialLinks.map((item: SocialInfo) => {
            return (
              <li>
                <a
                  target="_blank"
                  rel="noopener noreferrer"
                  href={item.SocialLink}
                  class="text-white flex gap-x-2 items-center hover:text-red-400 transition"
                >
                  <SocialProp icon={item.SocialNetwork} />
                  <span>{item.UserName}</span>
                </a>
              </li>
            );
          })
        }
      </ul>
      <ul aria-label="nav-links" class="flex flex-col gap-y-4 mt-10">
        <h3 class="font-bold text-xl text-cyan-400/90">Que buscas?</h3>
        <a href="#top">Inicio</a>
        <a href="#projects">Proyectos </a>
        <a href="#about">Sobre mí</a>
        <a href="#contact">Contacto</a>
      </ul>
    </nav>
    <section id="get-in-touch" class="rounded-2xl col-span-2 px-8 py-4 w-full">
      <Contact />
    </section>
  </div>
</footer>
