---
import SocialProp from "@/assets/Icons/SocialProp.astro";
import { PersonalSocialLinks, type SocialInfo } from "@/lib/data";
import Badge from "../common/Badge.astro";
import SocialIcon from "@/assets/Icons/SocialIcons/SocialIcon.astro";
---

<footer class="w-full bg-gradient-to-t from-black to-transparent">
  <nav
    aria-label="secondary-nav"
    class="px-8 py-4 rounded-2xl text-center max-w-[800px] mx-auto"
  >
    <div class="flex items-center justify-center mb-8">
      <SocialIcon class="size-8" />
      <h3 class="font-bold text-3xl">Redes Sociales</h3>
    </div>
    <ul aria-label="social-links" class="md:mt-0 flex gap-x-4 justify-around">
      {
        PersonalSocialLinks.map((item: SocialInfo) => {
          return (
            <li>
              <Badge>
                <a
                  target="_blank"
                  rel="noopener noreferrer"
                  href={item.SocialLink}
                  aria-label={`Link to Monti Juan ${item.SocialNetwork}`}
                  class="text-white text-xl flex gap-x-2 items-center hover:text-red-400 transition"
                >
                  <SocialProp icon={item.SocialNetwork} />
                  <span>{item.UserName}</span>
                </a>
              </Badge>
            </li>
          );
        })
      }
    </ul>
  </nav>
</footer>
