---
import SocialProp from "@/assets/SocialProp.astro";
import { PersonalSocialLinks, type SocialInfo } from "@/lib/data";
import Contact from "./Contact.astro";
---

<footer class="w-full bg-gradient-to-t from-black to-transparent pt-10 my-20">
  <div
    id="layout"
    class="max-w-[800px] flex flex-col-reverse md:items-start items-center md:flex-row md:mx-auto mx-10"
  >
    <nav
      aria-label="secondary-nav"
      class="px-8 py-4 rounded-2xl flex md:flex-col justify-around mt-5 md:mt-0 w-full"
    >
      <ul aria-label="social-links" class="md:mt-0 mt-2 grid gap-y-4">
        <h3 class="font-bold text-xl text-cyan-400/90">Redes Sociales</h3>
        {
          PersonalSocialLinks.map((item: SocialInfo) => {
            return (
              <li>
                <a
                  target="_blank"
                  rel="noopener noreferrer"
                  href={item.SocialLink}
                  aria-label={`Link to Monti Juan ${item.SocialNetwork}`}
                  class="text-white flex gap-x-2 items-center hover:text-red-400 transition"
                >
                  <SocialProp icon={item.SocialNetwork} />
                  <span>{item.UserName}</span>
                </a>
              </li>
            );
          })
        }
      </ul>
      <ul
        aria-label="nav-links"
        class="flex flex-col md:items-start items-center gap-y-4 md:mt-10 mt-2"
      >
        <h3 class="font-bold text-xl text-cyan-400/90">Que buscas?</h3>
        <a href="#top">Inicio</a>
        <a href="#projects">Proyectos </a>
        <a href="#about">Sobre mí</a>
        <a href="#contact">Contacto</a>
      </ul>
    </nav>
    <section
      id="get-in-touch"
      class="[grid-area:form] text-center md:text-left rounded-2xl px-8 py-4 md:w-full w-[80%]"
    >
      <Contact />
    </section>
  </div>
</footer>
