<header class="py-4 w-full">
  <nav class="flex flex-row justify-center items-center opacity-70 gap-x-10">
    <a href="#top">Inicio</a>
    <a href="#projects">Proyectos </a>
    <a href="#about">Sobre mí</a>
    <a href="#contact">Contacto</a>
  </nav>
</header>
