---
import About from "@/assets/Icons/About.astro";
import Code from "@/assets/Icons/Code.astro";
import Contact from "@/assets/Icons/Contact.astro";
import Home from "@/assets/Icons/Home.astro";
---

<header class="py-4 w-full">
  <nav
    id="header-nav"
    class="fixed [&>a>svg]:size-8 top-0 right-0 w-full py-6 flex flex-row justify-center items-center gap-x-10 text-xl font-bold md:font-normal"
  >
    <a href="#top" aria-label="Inicio">
      <span class="hidden md:inline">Inicio</span>
      <Home class="inline md:hidden size-6" />
    </a>
    <a href="#projects" aria-label="Proyectos">
      <span class="hidden md:inline">Proyectos</span>
      <Code class="inline md:hidden size-6" />
    </a>
    <a href="#about" aria-label="Sobre mí">
      <span class="hidden md:inline">Sobre mí</span>
      <About class="inline md:hidden size-6" />
    </a>
    <a href="#contact" aria-label="Contacto">
      <span class="hidden md:inline">Contacto</span>
      <Contact class="inline md:hidden size-6" />
    </a>
  </nav>
</header>

<script>
  document.addEventListener("astro:page-load", () => {
    const sections = document.querySelectorAll("section");
    const navItems = document.querySelectorAll("header nav a");

    const callback = (entries: any[]) => {
      entries.forEach((entry) => {
        if (entry.isIntersecting) {
          navItems.forEach((item) => {
            if (item.getAttribute("aria-label") == entry.target.id) {
              item.classList.add("text-blue-500");
            } else {
              item.classList.remove("text-blue-500");
            }
          });
        }
      });
    };

    const observer = new IntersectionObserver(callback, {
      root: null,
      rootMargin: "0px",
      threshold: 0.3,
    });

    sections.forEach((section) => {
      observer.observe(section);
    });

    // Cleanup function
    document.onvisibilitychange = () => {
      if (document.visibilityState === "hidden") {
        observer.disconnect();
      } else {
        sections.forEach((section) => {
          observer.observe(section);
        });
      }
    };
  });
</script>

<style>
  #header-nav {
    animation: blur linear both;
    animation-timeline: scroll();
    animation-range: 0 500px;
  }

  @keyframes blur {
    to {
      box-shadow:
        0px 5px 50px -5px rgba(0, 0, 0, 0.1),
        0px 0px 0 1px rgba(0, 0, 0, 0.3);
      background: rgba(0, 0, 0, 0.5);
      backdrop-filter: blur(10px);
    }
  }
</style>
