---
import LinkedIn from "@/assets/Icons/SocialIcons/LinkedIn.astro";
import Badge from "@/components/common/Badge.astro";
import SocialPill from "@/components/common/SocialPill.astro";
import GitHub from "@/assets/Icons/SocialIcons/GitHub.astro";
import Mail from "@/assets/Icons/Mail.astro";
---

<picture
  class="rounded-full max-h-44 max-w-44 overflow-hidden flex md:my-auto mx-auto mb-5"
>
  <img
    src="https://avatars.githubusercontent.com/u/100158273?v=4"
    alt="Juan Monti Foto"
    class="size-full"
  />
</picture>
<div class="px-10 my-auto">
  <div class="flex md:justify-between justify-center items-center">
    <a
      href="https://www.linkedin.com/in/juan-mart%C3%ADn-monti-536a98203/"
      target="_blank"
      rel="noopener"
      class="flex justify-start mb-5 items-center"
    >
      <Badge>Disponible <span class="font-bold">para trabajar</span></Badge>
    </a>
  </div>
  <section class="">
    <h1 class="md:text-5xl text-3xl font-bold pb-4">Hola!, soy Juan Monti</h1>
    <h2 class="text-xl md:mx-0 mx-auto max-w-[400px] text-pretty opacity-80">
      +3 años como <span class="text-cyan-400 font-bold"
        >Desarrollador Web Full-Stack</span
      >. Especializado en Diseños Modernos y Accesibles.
    </h2>
  </section>
  <ul class="flex md:justify-normal justify-center flex-wrap gap-6 mt-5">
    <SocialPill
      href={"https://www.linkedin.com/in/juan-mart%C3%ADn-monti-536a98203/"}
    >
      LinkedIn
      <LinkedIn class="w-4 h-4" />
    </SocialPill>
    <SocialPill href="https://github.com/manialCode">
      GitHub
      <GitHub class="w-4 h-4" />
    </SocialPill>
    <SocialPill href="juanmartinmonti4@gmail.com">
      juanmartinmonti4@gmail.com
      <Mail class="w-4 h-4" />
    </SocialPill>
  </ul>
</div>
